# Python caches and venv
**__pycache__**
/venv/venv

# Conan profiles
/profiles

# Dependency output
/dependencies
/dlls

# Build Output
/build
/temp
/deploy

# Project archives
/archive

compile_commands.json

# Visual Studio
/.vs
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters
.qgrep

# Zed
/.zed

# Makefile
Makefile

# Clangd
/.cache
.clangd

# IDE
/compile_commands.json

# Dependency graph output
/dependencies_*.html

# External
/external

# Claude
.claude/

# App
/app
